body{

}
.content-wrapper{
  margin-top: 5rem;
}
.card-price-text{
  font-size: 1.8rem;
  color: black;
  font-weight: 600;
}
.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.optionText{
  font-size: 1rem;
  color: black;
}
.badge {
  height: 15px;
  width: 15px;
  background-color: #e2e2e2;
  border-radius: 50%;
  color: #636363;
  text-align: center;
}

.cart-img{
  height: 50px;
  width: 50px;
}

.img-home {
  object-fit: cover;
  display: block;
  min-width:100%;
  max-height:400px;
  width: auto;
  height: auto;
}

.grey-color {
  color: #fdfdfe;
  background: rgba(68, 70, 73, .5);
  border-radius: 0.3rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #444649;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #444649;
}